body {
    font-family: Arial, sans-serif;
    background-color: #F6F284;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ranking-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: #5C0D9A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
}

.ranking-table-container {
    max-height: 300px; /* Limita a altura da tabela */
    overflow-y: auto; /* Adiciona rolagem vertical */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F6F284;
}

/* Personalização da barra de rolagem */
.ranking-table-container::-webkit-scrollbar {
    width: 8px;
}

.ranking-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.ranking-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.ranking-table th,
.ranking-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.ranking-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.ranking-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.ranking-table tr:hover {
    background-color: #f1f1f1;
}

a {
    display: inline-block;
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    color: #ffffff; /* Cor do texto */
    background-color: #007bff; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave no hover */
    margin-top: 10px;
}

a:hover {
    background-color: #0056b3; /* Cor mais escura ao passar o mouse */
    text-decoration: none; /* Garante que o sublinhado não volte */
}
