@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Reem Kufi", sans-serif;
}
body{
    height: 100%;
}
header{
    background-color: #5C0D9A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
}
header input[type="checkbox"]{
    display: none;
}
header #logo{
    height: 90px;
}
header label img{
    width: 60px;
    margin-right: 20px;
    border-radius: 50%;
    border: 3px solid white;
}

header .caixa{
    position: absolute;
    background-color: #d6d7d8;
    border-radius: 20px;
    height: 600px;
    width: 400px;
    right: 40px;
    top: 60px;
    display: none;
    z-index: 9999;
}
header .caixa .caixaconteudo{
    width: 400px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header .caixa .caixaconteudo img{
    width: 150px;
    border-radius: 50%;
}
header .caixa .caixaconteudo #username{
    font-size: 25px;
}
header .caixa .caixaconteudo ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header .caixa .caixaconteudo ul li{
    height: 70px;
    font-size: 18px;
    border-top: 1px solid #a7a6a6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}
header .caixa .caixaconteudo button{
    color: red;
    background: none;
    cursor: pointer;
    font-size: 20px;
    transition: all .5s;
}
header .caixa .caixaconteudo button:hover{
    font-size: 22px;
    text-decoration: underline;
    transition: all .5s;
}
header input[type="checkbox"]:checked ~ .caixa{
    display: block;
}
main{
    height: 100%;
    width: 100%;
}
main h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 30px;
}
main #nav{
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 20px;
}
main #nav button{
    background: none;
    font-size: 20px;
}
main #nav button:hover{
    color: #aaacae;
    transition: all .4s;
}
main .cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 325px;
    background-color: #aaacae;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .cards .card div{
    padding: 20px;
    height: 100%;
}
main .cards .card p{
    text-align: center;
    font-size: 30px;
}
main .cards .card a{
    margin-bottom: 20px;
    font-size: 20px;
    background-color: greenyellow;
    text-decoration: none;
    color: white;
    width: 50%;
    height: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .cards .card img{
    width: 95%;
    height: 80%;
    margin: 5px;
    border-radius: 15px;
}
footer #rodape{
    background-color: #2C2C2C;
    width: 100%;
    margin-top: 49px;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer #rodape img{
    width: 121px;
}
footer #rodape div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    margin-left: 10px;
}
footer #rodape div .icon{
    width: 20px;
}